<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Lovers Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
</html>
